@import "../assets/variable.scss";

.menu {
    background-color: $primary-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
    font-size: 1.25rem;
    p {
        color: $secondary-color;
    }
    ul {
        text-align: center;
        li {
            padding-bottom: 2rem;
        }
        li::after {
            content:" ";
            display: block;
            height: 30px;
            width: inherit;
            background-color: red;
            // visibility: hidden;
            
        }
        // li:hover::after {
        //     visibility: visible;
        // }
    }
}